* {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Spoqa Han Sans Neo;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255,255,255,0.05);
  width: 100%;
  top: 0;
  left: 0;
}


#progressBar {
  background: linear-gradient(to left, red, violet);
  transform-origin: top left;
  transform: scale(0,0);
  opacity: 0;
}

#progressBarContainer,
#progressBar {
  height: 10px;
}
